.page_title {
    margin-top: 20px;
    color: #FFE300;
    text-align: center;
}

.card {
    margin: 20px !important;
}

.card_conatiner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: 20px 0px;
    border-radius: 30px;
    background-color: #272b30 !important;
    border-color: #FFE300 !important;
}


.text_title {
    color: white;
}


.card-text {
    color: white;
}

.castom_decorate_title {
    border-bottom: 2px solid white;
}

.menu_link {
    color: #FFE300 !important;
}

.menu {
    border-color: #FFE300 !important;
}

